{% load static %}
{% static 'js' as js %}
{% static 'css' as css %}
{% static 'img' as img %}

<!DOCTYPE html>
<html lang="en" id="html">
    <head>
        <meta charset="utf-8" />
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
        
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
        <link href="{{ css }}/bootstrap.min.css" rel="stylesheet" />
        <link href="{{ css }}/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
        <link href="{{ css }}/ui_helper.css" rel="stylesheet" />
        <link href="{{ css }}/styles.css" rel="stylesheet" />

        <script src="{{ js }}/jquery.min.js"></script>
        <script src="{{ js }}/htmx.min.js"></script>
        <script src="{{ js }}/jszip.min.js"></script>
        
        <script src="https://kit.fontawesome.com/13852d7c0f.js" crossorigin="anonymous"></script>
        
        <script src="{{ js }}/ui_manager.js"></script>
        <script src="{{ js }}/key_manager.js"></script>
        <script src="{{ js }}/rsa_utils.js"></script>
        <script src="{{ js }}/sym_key_utils.js"></script>
        <script src="{{ js }}/handlers.js"></script>
        <script src="{{ js }}/dashboard_manager.js"></script>
        <script src="{{ js }}/sharing_manager.js"></script>
        <script src="{{ js }}/auth_manager.js"></script>

        <link rel="shortcut icon" type="image/png" href="{{ img }}/favicon.ico"/>
    </head>

<body id="base_body" hx-boost="true" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

{% if request.session.user_email %}
    <div class="sidebar" id="sidebar" data-color="blue" style="z-index: 2">
        <div class="logo">
            <h5 class="text-white text-center font-weight-bold">health</h5>
            <h6 class="text-white text-center" style="font-weight: normal">{{ request.session.user_email }}</h6>
        </div>
        <div class="sidebar-wrapper" id="sidebar-wrapper">
            <ul class="nav">
                <li class="menu-item" id="dashboard-tab">
                    <a href="/dashboard">
                        <i class="fas fa-hdd"></i>
                        <p class="font-weight-bold">Your Records</p>
                    </a>
                </li>
                <li class="menu-item" id="notifications-tab">
                    <a href="/notifications">
                        <i class="fas fa-users"></i>
                        <p class="font-weight-bold">Notifications</p>
                    </a>
                </li>
                <li class="menu-item" id="settings-tab">
                    <a href="/settings">
                        <i class="fas fa-user-astronaut"></i>
                        <p class="font-weight-bold">User Profile</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-absolute" style="z-index: 1;top:0;background: #141e30;">
        <div class="container-fluid">
            <div class="navbar-wrapper" id="navbar-wrapper">
                <div class="navbar-toggle">
                    <button type="button" class="navbar-toggler" onclick="UiManager.toggleSidebar()">
                        <span class="navbar-toggler-bar bar1"></span>
                        <span class="navbar-toggler-bar bar2"></span>
                        <span class="navbar-toggler-bar bar3"></span>
                    </button>
                </div>
                <a class="navbar-brand" href="#">Dashboard</a>
            </div>
            
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <ul class="navbar-nav">
                    {% if request.GET.folder_id %}
                    <li class="nav-item ml-3">
                        <a class="nav-link bg-info btn-round font-weight-bolder" href="" data-toggle="modal" data-target="#uploadModal">
                            <i class="fas fa-plus fa icon"></i><p><span>Upload</span></p>
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a data-toggle="modal" data-target="#folderModal" href="" class="nav-link bg-info btn-round font-weight-bolder ml-2">
                            <i class="fas fa-plus icon"></i><b> Create Medical Record</b>
                        </a>
                    </li>
                    {% endif %}
                    
                    <li class="nav-item ml-2">
                        <a class="nav-link" href="#" onclick="AuthManager.logout()"><i class="fas fa-sign-out fa icon"></i><span>Sign out</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Upload Files</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>
                <div class="modal-body" hx-boost="false">
                    <div class="file-loading">
                        <input id="file_input" name="file_input" type="file" multiple>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" onclick="DashboardManager.uploadEncrypted()">
                        <i class="fas fa-lock"></i> Secure Upload
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endif %}

    {% block content %}{% endblock content %}

        <script src="{{ js }}/popper.min.js"></script>
        <script src="{{ js }}/bootstrap.min.js"></script>
        <script src="{{ js }}/sweet_alert.js"></script>

        <script src="{{ js }}/bootstrap-notify.js"></script>
        <script src="{{ js }}/piexif.min.js"></script>
        <script sec="{{ js }}/purify.min.js"></script>
        <script src="{{ js }}/fileinput.min.js"></script>

{% block extra_js %}{% endblock extra_js %}
</body>
</html>